*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}


select, footer{
    padding: 55px 0;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
}



.btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover{
    background-color: #227ef0;
}

nav ul a:not(.btn)::after{
    content: " ";
    background-color: #227ef0;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 130px;
    align-items: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    color: white;
    font-size: 90px;
}


/* Footer */
.footer{
    background-color: #4f9cf9;
    text-align: center;
}

.footer p{
    margin-top: 30px;
    color: white;
}

/* Cards */
.cards p{
    text-align: center;
    margin-bottom: 20px;
}

.container-card{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

.cards .card-item{
    background-color: rgb(144, 175, 202);
    margin: 20px;
    border-radius: 15px;
    width: 300px;
    align-items: center;
}

.cards .card-item:hover{
    background-color: #4f9cf9;
}

.cards .card-item img{
    width: 30%;
    border-radius: 100%;
    display: block;
    margin: 10px auto;
}

.dados{
    background-color: #d3e6fd;
}

.dados .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item{
    text-align: center;
    margin: 15px;
    color: #000000ed;
}

.dados .dados-item img{
    background-color: #4f9cf9;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 80px;
}

.dados .dados-item p{
    font-size: 18px;
}

.dados .dados-item strong{
    font-size: 28px;
}